/*
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*/

/*
	-----------------------------------------------------------------------------------
	Styling you can change for your own blog
	Many themes unfortunately use high-priority selectors, so if you make a CSS setting
	and it doesn't seem to be working, try adding the "!important" modifier.
	-----------------------------------------------------------------------------------
*/

/*  Div to contain the map */
.mapp-map {
	overflow: hidden;
	text-align: center;
	padding: 0px 0px 0px 0px;
	line-height: normal;
	margin: 0 0 0 0;
	color: black;
	border: 1px solid lightgray;
}

/* Map images returned from google - these setting are required or map will not render correctly */
.mapp-map img {
	background-color: transparent !important;
	max-width: none !important;  /* Some themes have max-width/max-height set, which interferes with map */
	max-height: none !important;
}

/* Map loading icon */
.mapp-loading {
	background-image: url(../images/loading.gif);
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 50%;
}

/* Infowindow */
.mapp-overlay {
	color: black;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: normal;
}

.mapp-overlay img {
	margin: 3px 3px 3px 3px;
}

/* InfoWindow title */
.mapp-overlay-title {
	font-weight: bold;
	margin-bottom: 5px;
}

/* Infowindow body */
.mapp-overlay-body {
}

/* Infowindow links */
.mapp-overlay-links {
	margin-top: 4px;
	text-align: center;
}
.mapp-overlay-links a {
}

/* Directions <div> in the post */
.mapp-directions {
	display:none;
}

/* Directions table with the start/end fields, etc. */
.mapp-directions table {
	padding: 0 !important;
	margin: 0 !important;
	border-collapse: collapse !important;
	border: none !important;
	background: transparent !important;
	width: 100% !important;
	table-layout: auto !important;
	line-height: normal !important;
}

/* Left-most column with icons */
.mapp-directions .mapp-directions-table-col1 {
	width: 18px !important;
}

/* Left-most column with icons */
.mapp-directions .mapp-directions-table-col1 img {
	height: 16px !important;
	width: 16px !important;
	padding: 0px !important;
	margin: 0px !important;
}

.mapp-directions table td {
	padding: 2px !important;
	margin: 0 !important;
	border: none !important;
	background: transparent !important;
	vertical-align: middle !important;
}

.mapp-directions table input {
	margin: 0px !important;
	width: 100% !important;
	line-height: normal !important;
}

.mapp-directions table span {
	display: inline-block !important;
	padding: 0 !important;
	margin: 0 !important;
}

/* Travel mode images */
.mapp-directions table .mapp-a {
	background-image: url(../images/a.png) !important;
	width: 16px !important;
	height: 16px !important;
}

.mapp-directions table .mapp-b {
	background-image: url(../images/b.png);
	width: 16px !important;
	height: 16px !important;
}

.mapp-directions table .mapp-swap {
	background-image: url(../images/swap.png);
	width: 18px !important;
	height: 18px !important;
	vertical-align:middle !important;
}

.mapp-address-corrected {
	font-size: x-small;
	width: 100%;
	border: none;
	background-color: transparent;
}

.mapp-address-error {
	background-color: #ffebe8;
	margin: 0;
	padding: 2px;
	background-color: pink !important;
}

.mapp-travelmode {
	border: 1px solid lightgray !important;
}

/* Travel mode buttons */
.mapp-car-button {
	width:37px;
	height:23px;
	background-image: url(../images/car_off.png);
	text-align: left;
	display: inline-block;
}

.mapp-car-button.selected {
	width:37px;
	height:23px;
	background-image: url(../images/car_on.png);
	display: inline-block;
}

.mapp-bike-button {
	width:37px;
	height:23px;
	background-image: url(../images/bike_off.png);
	text-align: left;
	display: inline-block;
}

.mapp-bike-button.selected {
	width:37px;
	height:23px;
	background-image: url(../images/bike_on.png);
	display: inline-block;
}

.mapp-walk-button {
	width:37px;
	height:23px;
	background-image: url(../images/walk_off.png);
	display: inline-block;
}

.mapp-walk-button.selected {
	width:37px;
	height:23px;
	background-image: url(../images/walk_on.png);
	display: inline-block;
}

.mapp-traffic-button {
	border: black 1px solid;
	margin-top: 5px;
}
.mapp-traffic-button-inner {
	padding-left: 4px;
	padding-right: 4px;
	background-color: white;
	BORDER-TOP: #707070 1px solid;
	BORDER-LEFT: #707070 1px solid;
	BORDER-BOTTOM: #d0d0d0 1px solid;
	border-right: black 1px solid;
	cursor: pointer;
	text-align: center;
	font-family: Arial,sans-serif;
	color: black;
	font-size: 12px;
	font-weight: bold;
}

/*
	-----------------------------------------------------------------------------------
	Styling for MapPress internal messages, etc.  You shouldn't need to change these...
	-----------------------------------------------------------------------------------
*/

#mapp_paypal {
	vertical-align: middle;
	border:none;
}

/*  Div to contain the editable map */
.mapp-map {
	overflow: hidden;
	text-align: center;
	padding: 0px 0px 0px 0px;
	line-height: normal;
	margin: 0 0 0 0;
	color: black;
	border: 1px solid lightgray;
}

/* Editable infowindow */
.mapp-edit-overlay {
}

/* Add location panel */
#mapp_add_panel {
	visibility:hidden;
}

#mapp_add_latlng {
	display: none;
}

#mapp_add_swap_btn {
	background-image: url(../images/swap.png) !important;
	display: inline-block;
	width: 18px !important;
	height: 18px !important;
	vertical-align:middle !important;
	line-height: normal !important;
}

/* Map list panel */
#mapp_maplist_panel {
	width: 250px;
}

/* Map list table */
#mapp_maplist table {
	width:100%;
}

#mapp_maplist table td {
	padding-bottom: 5px;
}

/* Map list edit/delete/insert links */
.mapp-maplist-links {
	font-size: 11px;
	visibility: hidden;
	margin-top: 2px;
}

/* Editing panel div */
#mapp_adjust_panel {
	width: 250px;
	display: none;
}

#mapp_adjust {
	height: 120px !important;
}

/* POI list */
.mapp-edit-poi-list {
	overflow:auto;
	height:100%
}

#mapp_edit_poi_list table {
	width: 100%;
}

/* POI list marker column */
#mapp_edit_poi_list .mapp-marker {
	width: 32px;
	height: 32px;
}

#mapp_edit_poi_list .mapp-marker img {
	width: 32px;
	height: 32px;
}

/* Map preview panel */
#mapp_preview_panel {
	width: 100%;
}

/* Selected row */
.mapp-selected {
	background-color: #FFFF99 !important;
}

.mapp-alternate {
	background-color: #f9f9f9;
}