/*
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
*/

/* 
    -----------------------------------------------------------------------------------
    Styling you can change for your own blog
    -----------------------------------------------------------------------------------
*/

/*  Map containing <div> */
.mapp-div {  
    overflow: hidden;
    text-align: center; 
    padding: 0px 0px 0px 0px;
    line-height: normal;
    margin: 0 0 0 0; 
    color: black;   
}

/* Map images returned from google - keep background transparent or map will not render correctly */
.mapp-div img {
    background-color: transparent;
    max-width: none;  /* Some themes have max-width/max-height set, which interferes with map */
    max-height: none;
}

/* Infowindow */
.mapp-overlay-div {
    color: black;
}

/* InfoWindow title only */
.mapp-overlay-title {
    font-weight: bold;
}

/* Street view in the blog body */
.mapp-street-div {    
}

/* Directions in the blog body */
.mapp-directions-div {    
}


/* 
    -----------------------------------------------------------------------------------
    Styling for MapPress internal messages, etc.  You shouldn't need to change these...
    -----------------------------------------------------------------------------------
*/         
.api_error {
    background-color: #ffebe8;
    border-color: #c00;
}

.api_ok {
    background-color: #ccff99;
    border-color: #669900;
}

.api_error, .api_ok {
    border-width: 1px;
    border-style: solid;
    padding: 0 3px;
    margin: 5px 5px 2px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.mapp-poweredby {
    font-size: 8pt;
}

.mapp-address {
    width: 100%;
}

.mapp-address-corrected {
    font-size: x-small;
    width: 100%;
    border: none;
    background-color: transparent;
}

.mapp-address-error {
    background-color: #ffebe8;
}

.mapp-address-error p {
    margin: 0.5em 0;
    line-height: 1;
    padding: 2px;
}

.mapp-plugin-update {
    line-height: 29px;
    font-size: 12px;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    background-color: #ffebe8;
    border-bottom-color: #ccc;
    border-top-color: #ccc;
    color: #555;    
}

.mapp-plugin-update a {
    font-size: 1.1em;
}

/* Icon list */
.mapp-icon-list {
    background-color: white;
}

.mapp-icon-list ul li {
    float: left;
}

.mapp-icon-list a:hover img {
    border: 1px solid blue;
}

.mapp-icon-list a img {
    border: 1px solid white;
}


/* Jquery dialog boxes */
.ui-dialog {
    background-color: white;
    border: 1px solid black;    
}

.ui-dialog-titlebar {
    background-color: lightgray;
    text-align: center;
    padding: 3px 3px 3px 3px;        
}

